#head1{
    color: #00ff01;
    /* top: 100px; */
    /* bottom: 100px; */
    left: 100px;
    right: 100px;
    position: relative;
}
.head2{
    color: rgba(0,0,255,0.6);
    /* a stands for alpha. determines transparency of color. */

}

button{
    color:#000000;
} 
.div1{
    color:hsl(0, 100%, 80%);
    top: 100px;
    bottom: 100px;
    left: 100px;
    right: 100px;
    /* position: relative; */
    /* this will be relative to the parent div (<body>) */
    
    position: absolute;
    /* this is not relative to parent div. it is absolute value */

    /* position: fixed; */
    /* this is relative to entire html. does not look at parent or anything */

    /* height:200%; */
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: black;
    height: 700px;
    width: 700px;
}

.div2{
    /* padding-top: 100px;
    padding-left: 40px;
    padding-right: 50px;
    padding-bottom: 80px;  */

    /* padding:100px; */

    padding: 60px 100px;
    /* first value for top and bottom, second value for left and right */

    /* padding: 100px 100px 100px; */
    /* value corr to top right bottom. left takes value opposite to it (ie. right) */
    border:10px solid cornflowerblue;
    margin: 200px;
    height: 200px;
    width: 100px;
    color: #172831;
    background-color: chartreuse;
    font-size: 60px;
    top: 10em;
    
}